/*
Created by: Max Burton
Date created: 6/14/19
Last revision:
*/


body {
	background-color: #fef9ff;
	font-family: arial, helvetica, sans-serif;
       color: #0d1f2d;

		max-width: 900px;
	margin: 0 auto;
}

